.input_rgba {
  position: relative;

  .input_rgba-wrap {
    display: flex;

    .input_rgba-hex {
      position: relative;
      width: 100%;
      font-size: 0;

      .input_rgba-hex-label {
        position: absolute;
        top: 7px;
        left: 12px;
        font-size: 16px;
        color: #929fb7;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
      }

      input {
        padding-left: 26px;
      }
    }

    .input_rgba-alpha {
      margin-left: 16px;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 71px;
      font-size: 0;

      .input_rgba-alpha-label {
        position: absolute;
        top: 16%;
        color: #929fb7;
        right: 12px;
        font-size: 16px;
      }
    }

    input {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      border: none;
      box-shadow: none;
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: #fff;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 24px;
      letter-spacing: normal;
      color: #312e55;
      margin-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 0;
      padding-bottom: 0;
      transition: all 0.15s ease;
      box-shadow: 0px 0px 0px 2px #bbbfc5;

      &:hover {
        background-color: #d4e5ff;
        box-shadow: none;
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px #6dbafd;
        background-color: #e5f3ff;
      }
    }

    .input_rgba-label {
      width: 100%;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 0.5px;
      text-align: center;
      color: #929fb7;
    }
  }
}
